Package:	NfsMediaStack
Section:	Addon
Version:	1.1
Packager:	PhantoWD
Email:
Homepage:
Description:	Starts a local NFSv3 export for MediaStack storage.
Icon:
AddonShowName:	NFS MediaStack
AddonIndexPage:
AddonUsedPort:	2049
InstDepend:
InstConflict:
StartDepend:
StartConflict:
CenterType:  0
MinFWVer:
MaxFWVer:
IndividualFlag: 0
