BR2_arm=y
BR2_arm926t=y
BR2_ARM_EABI=y
BR2_ARM_SOFT_FLOAT=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_12=y
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_PHANTOWD_EX4_PATH)/board/qemu/armv5/patches"
BR2_DOWNLOAD_FORCE_CHECK_HASHES=y
BR2_REPRODUCIBLE=y
BR2_TARGET_GENERIC_HOSTNAME="phantowd-ex4-stage-b3"
BR2_TARGET_GENERIC_ISSUE="PhantoWD EX4 Stage B3 combined network and sensor probe"
BR2_INIT_NONE=y
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL_PHANTOWD_EX4_PATH)/board/wd/ex4/stage-a/busybox.config"
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_PHANTOWD_EX4_PATH)/board/wd/ex4/stage-b3/busybox.fragment"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_PHANTOWD_EX4_PATH)/board/wd/ex4/stage-b3/rootfs-overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_PHANTOWD_EX4_PATH)/board/wd/ex4/stage-a/post-build.sh"
BR2_ROOTFS_POST_FAKEROOT_SCRIPT="$(BR2_EXTERNAL_PHANTOWD_EX4_PATH)/board/wd/ex4/stage-a/post-build.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.18.53"
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
BR2_LINUX_KERNEL_DEFCONFIG="multi_v5"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_PHANTOWD_EX4_PATH)/board/wd/ex4/stage-a/linux.fragment $(BR2_EXTERNAL_PHANTOWD_EX4_PATH)/board/wd/ex4/stage-b/linux.fragment $(BR2_EXTERNAL_PHANTOWD_EX4_PATH)/board/wd/ex4/stage-b2/linux.fragment $(BR2_EXTERNAL_PHANTOWD_EX4_PATH)/board/wd/ex4/stage-b3/linux.fragment"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="$(BR2_EXTERNAL_PHANTOWD_EX4_PATH)/board/wd/ex4/stage-b3/kirkwood-wd-mycloud-ex4-stage-b3.dts"
BR2_LINUX_KERNEL_ZIMAGE=y
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS=y
# BR2_TARGET_ROOTFS_TAR is not set
