BR2_arm=y
BR2_arm926t=y
BR2_ARM_EABI=y
BR2_ARM_SOFT_FLOAT=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_12=y
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_PHANTOWD_EX4_PATH)/board/qemu/armv5/patches"
BR2_DOWNLOAD_FORCE_CHECK_HASHES=y
BR2_REPRODUCIBLE=y
BR2_CCACHE=y
BR2_CCACHE_INITIAL_SETUP="--max-size=1G"
BR2_TARGET_GENERIC_HOSTNAME="phantowd-qemu-armv5"
BR2_TARGET_GENERIC_ISSUE="PhantoWD ARMv5 QEMU development image"
BR2_TARGET_GENERIC_GETTY_PORT="ttyAMA0"
BR2_SYSTEM_DHCP="eth0"
BR2_PACKAGE_PHANTOWD_API=y
BR2_PACKAGE_PHANTOWD_API_QEMU_SELFTEST=y
BR2_PACKAGE_NFS_UTILS=y
BR2_PACKAGE_SAMBA4=y
BR2_PACKAGE_HOST_GO_BIN=y
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_PHANTOWD_EX4_PATH)/board/qemu/armv5/rootfs-overlay"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/qemu/post-image.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="$(BR2_DEFCONFIG)"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.18.53"
BR2_LINUX_KERNEL_DEFCONFIG="versatile"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/qemu/arm-versatile/linux.fragment $(BR2_EXTERNAL_PHANTOWD_EX4_PATH)/board/qemu/armv5/linux-nfs.fragment $(BR2_EXTERNAL_PHANTOWD_EX4_PATH)/board/qemu/armv5/linux-qemu-rng.fragment"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="arm/versatile-pb"
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_SIZE="80M"
BR2_TARGET_ROOTFS_EXT2_MKFS_OPTIONS="-O ^64bit -U f528951a-1e1d-5515-b6c1-bb3a24868832 -E hash_seed=2f6ef28f-3b9f-50df-921c-00f4b01ca898"
# BR2_TARGET_ROOTFS_TAR is not set
